extends layout

block content
    section#welcome
        h1 Welcome back, #{user ? user.Name : "User"}!
        p Please select a language below

    section#language-selection
        div.languages-container
            each language in languages
                div.language-option
                    button.language-button(onclick=`selectLanguage('${language.LanguageID}')`)
                        img(src=`/images/${language.LanguageID}.png`, alt=`${language.LanguageName}`)
                        p #{language.LanguageName}

    footer
        p &copy; 2025 Dualinguists
    
    // JavaScript to handle language selection and redirection
    script.
        function selectLanguage(languageID) {
            window.location.href = "/selection-list?languageID=" + languageID;
        }
