extends layout

block content
    section#welcome
        h1 Welcome back, #{user ? user.Name : "User"}!
        p Please select a language below

    section#language-selection
        div.languages-container
            - var seenLanguages = []
            each language in languages
                - if (!seenLanguages.includes(language.LanguageName))
                    - seenLanguages.push(language.LanguageName)
                    div.language-option
                        button.language-button(onclick=`changeLanguage('${language.LanguageID}')`)
                            img(src=`/images/${language.LanguageID}.png`, alt=`${language.LanguageName}`)
                            p #{language.LanguageName}

    footer
        p &copy; 2025 Dualinguists
    
    script(src="/script.js" defer)
