extends layout

block content
    link(rel='stylesheet', href='/quiz-results.css')

    section#results-container
        h1 Quiz Results
        p You scored #{score} points!

        each result in results
            div.result-card
                h3 Question #{result.questionID}
                p Your Answer: 
                    span(class=result.isCorrect ? 'correct' : 'incorrect') #{result.userAnswerText[0].AnswerText}
                if !result.isCorrect
                    p.correct-answer Correct Answer: #{result.correctAnswerText}

        a(href="/quizcategories") Back to Languages 
