extends layout 

block content
    link(rel='stylesheet', href='/quizcategories.css')

    section#welcome
        h1 Welcome back, #{user ? user.Name : "User"}!
        p Please select a quiz category below

    section#quiz-selection
        div.categories-container
            each category in categories
                div.category-option
                    button.category-button(onclick=`selectCategory('${category.CategoryID}', '${languageID}')`)
                        h3 #{category.CategoryName}
                        p #{category.Description}

    footer
        p &copy; 2025 Dualinguists

    script.
        function selectCategory(categoryID, languageID) {
            window.location.href = categoryID === '1' ? "/regular-quiz?languageID=" + languageID : "/student-quiz?languageID=" + languageID;
        }

