extends layout

block content
    link(rel='stylesheet', href='/student-quiz.css')

    section#quiz-container
        h1 Student Quiz - Language: #{languageName}

        if questions.length === 0
            p No questions available for this language.

        else
            form(action='/submit-quiz', method='POST')
                each question in questions
                    div.question
                        h2 #{question.QuestionText}
                        div.answers
                            each answer in question.answers
                                label.answer-option
                                    input(type='radio', name=`${question.QuestionID}`, value=`${answer.AnswerID}`)
                                    span.answer-text #{answer.AnswerText}

                button#submit-quiz(type='submit') Submit Quiz

    // ✅ Corrected "Back to Languages" button
    div#back-container
        a#back-button(href='/language-list') Back to Languages
